.project {
  display: flex;
  flex-direction: column;
}

.project-heading {
  width: 100%;
  text-align: left;
  margin-bottom: 5rem;
}

.project-heading h1 {
  margin-right: 1rem;
  font-family: var(--font-family);
  color: var(--color-title) ;
  font-weight: 800;
  font-size: 96px;
  line-height: 116px;
}

.project-container {
  display: flex;
  flex-direction: row;

}

.project-container__groupA {
  flex: 0.75;
  margin-right: 2rem;
}

.project-container__groupB {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
  .project-container {
      flex-direction: column-reverse;
  }

  .project-container__groupA {
      margin: 2rem 0;
  }

  .project-container__groupA .project-container__article {
      width: 48%;
  }
  .project-container__groupA .project-container__article-image {
      height: 250px;
  }
}

@media screen and (max-width: 700px) {
  .project-container__groupB {
      grid-template-columns: repeat(1, 1fr);

  }

  .project-container__groupA .project-container__article {
      width: 100%;
  }

  .project-heading h1 {
      font-size: 46px;
      line-height: 52px;
  }
}

@media screen and (max-width: 550px) {
  .project-heading h1 {
      padding-top: 2rem;
      font-size: 50px;
      line-height: 42px;
  }
}



/*.project-main {
  display: flex;
   
}


.project-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}


.project-title h1 {
  position: relative;
  padding-top: 10rem;
  margin-left: 3rem;
  color: var(--color-title);
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 96px;
  

}


.slider {
  padding-top: rem;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15rem;
}
  
.project-image {

  width: 1000px;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid;
  box-shadow: 5px 10px;
  color: white;

  object-fit: scale-down;
}

.image-projects {
  
  position: relative;
  width: 500px;
  height: 300px;
  left: 20%;
  top: 16rem;
  box-shadow: -10px 5px 5px white, 10px 5px 5px white;
 
  

}

.slide-text {
  text-align: justify;
  font-family: var(--font-family);
 
  
}

.slide-text p {
  position: relative;
  width: 900px;
  font-size: 30px;
  line-height: 50px;
  left: 3rem;
  bottom: 17rem;
  
  
}

.slide-text h2 {
  position: relative;
  font-weight: 800;
  bottom: 18rem;
  left: 3rem;
  font-size: 30px;
  color: white;

}

.slide-text a {
  color: var(--color-title);
  font-weight: 700;
  font-size: 20px;
  top: 3rem;
  position: relative;
  left:4rem;
  text-decoration: underline white;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
.slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

@media screen and (max-width: 320px) {
  
  .project-main {
    display: block;
    position: relative;
    bottom: 8rem;
  }


  .project-title h1 {
    display: block;
    font-size: 45px;
    text-align: center;
    margin-right: 2rem;
   
  
  }
  
  .slider {
    display: none;
  }



  

} */