.scroll-list ul {
    position:fixed;
    list-style: none;
    display: flex;
    
   bottom: 0%;
   right: 5%;
   flex-direction: column;
   
    
}
.social-lists div {

    margin: 1rem;
}

.scroll-list li {
    
    font-size: 30px;
    line-height: 60px;
   

}

.linkedin-box  {
    
    width: 50px;
    height: 50px;
    border-radius: 20%;
 
    box-sizing: border-box;
    
    text-align: center;
    background: #4BA1FF;
}

.linkedin-box a {
    color: white;
}

.github-box {
    width: 50px;
    height: 50px;
    border-radius: 20%;
 
    box-sizing: border-box;
    
    text-align: center;
    background: black;
}

.github-box a {
    color: white;
}

.email-box {
    width: 50px;
    height: 50px;
    border-radius: 20%;
 
    box-sizing: border-box;
    
    text-align: center;
    background: #DC747D;
}

.email-box li {
    color: white;
}

.resume-box {
    width: 50px;
    height: 50px;
    border-radius: 20%;
 
    box-sizing: border-box;
    
    text-align: center;
    background: var(--color-title);
}

.resume-box a {
    color: white;
}

@media screen and (max-width: 320px) {
    
    .scroll-list{
        display: none;
    }
    
    
}

@media screen and (max-width: 500px) {
    
    .scroll-list{
        display: none;
    }
    
    
}