.navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.navbar-heading {
    font-family: var(--font-family);
    color: white;
    font-weight: 800;
    font-size: 40px;
    line-height: 116px;
    margin-left: 5px;
}

.navbar-heading h2 {
    font-family: var(--font-family);
    font-weight: bold;
}

.navbar-links {
    display: flex;
    flex-direction: row;

    
}

.navbar-links p {
    font-family: var(--font-family);
    margin: 0 3rem;
    cursor: pointer;
    font-weight: bold;
    color: var(--color-nav);
    font-weight: 800;
    font-size: 26px;
    line-height: 43px;
}