.experience-main {
    display: flex;
}


.experience-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}


.experience-title h1 {
    color: var(--color-title);
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 96px;
    line-height: 116px;
}

.experience-content p {
    color: var( --color-header);
    font-family: var(--font-family);
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
}

.experience-content h2 {
    font-family: var(--font-family);
    color: var(--color-jobTitle);
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    padding-top: 2rem;
}

.experience-content ul   {
    display: none;
    list-style: none;
}



.exp1 ul.menu-drop1, .exp2 ul.menu-drop2, .exp3 ul.menu-drop3 {
    position: absolute;
    display: block;
    font-family: var(--font-family);
    font-weight: 550;
    font-size: 22px;
    line-height: 40px;
     color: #A32D50;
}

.exp2 {
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.exp3 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.menu-drop1 li::before, .menu-drop2 li::before, .menu-drop3 li::before {
    content: "⯈";
    position: relative;
    color: var(--color-arrow);
    display: inline-block;
    width: 2rem;
}

@media screen and (max-width: 1300px) {
    .experience-title h1 {
        font-size: 80px;
        line-height: 42px;
    }

    .exp1 h2 {
        font-size: 40px;
    }

    .exp1 li{
        font-size: 25px;
        text-align: left;
        width: 700px;
    }

    .exp2 {
        padding-top: 20rem;
    }

    .exp2 h2 {
        font-size: 40px;
    }

    .exp2 li{
        font-size: 25px;
        text-align: left;
        width: 650px;
    }

    .exp3 {
        padding-top: 12rem;
    }

    .exp3 h2 {
        font-size: 40px;
    }

    .exp3 li{
        font-size: 25px;
        text-align: left;
        width: 700px;
    }
}

@media screen and (max-width: 700px) {
    .experience-title h1 {
        font-size: 80px;
        line-height: 42px;
    }

    .exp1 h2 {
        font-size: 40px;
    }

    .exp1 li{
        font-size: 25px;
        text-align: left;
        width: 540px;
    }

    .exp2 {
        padding-top: 22rem;
    }

    .exp2 h2 {
        font-size: 40px;
    }

    .exp2 li{
        font-size: 25px;
        text-align: left;
        width: 540px;
    }

    .exp3 {
        padding-top: 12rem;
    }

    .exp3 h2 {
        font-size: 40px;
    }

    .exp3 li{
        font-size: 25px;
        text-align: left;
        width: 540px;
    }
}

@media screen and (max-width: 500px) {
    .experience-title h1 {
        font-size: 70px;
        line-height: 42px;
    }

    .exp1 h2 {
        font-size: 35px;
    }

    .exp1 li{
        font-size: 20px;
        text-align: left;
    }

    .exp2 {
        padding-top: 18rem;
    }

    .exp2 h2 {
        font-size: 35px;
    }

    .exp2 li{
        font-size: 20px;
        text-align: left;
    }

    .exp3 {
        padding-top: 10rem;
    }

    .exp3 h2 {
        font-size: 35px;
    }

    .exp3 li{
        font-size: 20px;
        text-align: left;
    }
}

@media screen and (max-width: 320px) {
    .experience-title h1 {
        font-size: 50px;
        line-height: 42px;
    }

    .exp1 h2 {
        font-size: 25px;
    }

    .exp1 li{
        font-size: 15px;
        text-align: left;
        width: 250px;
    }

    .exp2 {
        padding-top: 25rem;
    }

    .exp2 h2 {
        font-size: 25px;
    }

    .exp2 li{
        font-size: 15px;
        text-align: left;
        width: 250px;
    }

    .exp3 {
        padding-top: 13rem;
    }

    .exp3 h2 {
        font-size: 25px;
    }

    .exp3 li{
        font-size: 15px;
        text-align: left;
        width: 250px;
    }
}
