@import url('https://fonts.googleapis.com/css2?family=Sen:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Sen', sans-serif;

  
  --color-bg: #f5CCB9;

  --color-text: #fff;
  --color-subtext: #f3f3f3;
  --color-triangle: #CCD2E3;
  --color-title: #6c9a8b;
  --color-header: #dc747d;
  --color-arrow: #ff7a79;
  --color-jobTitle: #894e3f;
  --color-resumeLink: #f67d58;
  --color-nav: #894e3f;
  
}

