@import url('https://fonts.googleapis.com/css2?family=Sen:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Sen', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #F5F5F5;
  --color-subtext: #FF8A71;
  --color-triangle: #CCD2E3;
  --color-header: #FFB9B8;
  --color-header2: #CAFFBF;
}

