.web__heading {
    display: flex;
    
}

.web__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
}

.web__header-content div {
    position: absolute;
    width: 900px;
    left: 400px;
    top: 150px;
    background: var(--color-header2);
    border: 7px solid var(--color-header2);
    transform: rotate(0.14deg);
}

.web__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size:  62px;
    line-height: 75px;
    letter-spacing: -0.04rem;
}

.web__header-content p,
.web__header-content h2 {
    width: 703px;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    text-align: justify;
    color:var(--color-text);
    
    margin-top: 1.5rem;
}


.lang{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;

    width: 100%;
    text-align: left;
}

.lang div {
    width: 250px;
    margin: 1rem;
}

.web__lang p{
    display: flex;
   
    
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;

    color:var(--color-text);
    margin-left: 4rem;
    margin-top: 1.5rem;

}

.profile {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile img {
    position: absolute;
    width: 400px;
    height: 300px;
    left: 864px;
    top: 253px;
    border-radius: 25px;
    right: 10rem;
    
}

@media screen and (max-width: 1050px) {
    .web__heading {
        flex-direction: column;
    }

    .web__header-content {
        margin: 0 0 3rem;
    }

    .profile img {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .web__heading h1 {
        font-size: 48px;
        line-height: 60px;
    }    

    .web__heading p {
        font-size: 16px;
        line-height: 24px;
    }

    
}

@media screen and (max-width: 490px) {
    .web__heading h1 {
        font-size: 36px;
        line-height: 48px;

    }

    .web__heading p {
        font-size: 12px;
        line-height: 24px;
    }

    
}